.container {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 1em;
    padding: var(--padding);
    background: var(--panel-background-color);
}

div {
    padding-left: var(--padding-side);
}