.inputs {
    display: grid;
    grid-template-rows: 22% 22% 22%;
    flex-direction: column;
}

.ncinc_container {
    height: 150vh;
}

.inputs_container {
    display: grid;
    grid-template-columns: 55% 45%;
    align-items: center;
}

.ncinc_data {
    width: 100%;
    display: grid;
    // padding: var(--padding);
    padding-right: 2em;
    gap: .5em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    grid-auto-flow: row dense;
    grid-auto-rows: 1fr;
    height: auto;
}
    
.ncinc_data-item {
    flex-direction: column;
    position: relative;
    min-height: 0;
    height: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;
}

.car {
    height: 20em;
}

.civil {
    height: 23em;
}

.data-item_field {
    display: flex;
    background: #976736 !important; 
}

.data-lists {
    display: flex;
    flex-direction: column;
}

.plate-container {
    width: 100%;
    height: 5em;
    justify-content: center;
    display: flex;
    position: relative;
    align-items: center;
    padding: 4em;
    background-color: var(--links-button);
}

.plate {
    top: 0;
    bottom: 0;
    line-height: 5em;
    font-size: 1.8em;
    margin: 0 auto;
    color: #2c307e;
    z-index: 9999;
    position: absolute;
    cursor: pointer;
    font-family: 'PlateFont', sans-serif;
}
.plate-img {
    position: relative;
    z-index: 1;
    width: 10em;
    height: 5em;
}

.licenses-data {
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: .1em;
    padding-bottom: .1em;
    background: var(--links-button);
    display: grid;
    padding-top: .1em;
    grid-template-columns: 49.8% 49.9%;
}

.license-item_img {
    width: 10em;
    height: 5em;
}

.buttons_container {
    display: grid;
    background: var(--links-button);
    justify-content: center;
    grid-template-columns: 49.8% 49.9%;
    gap: .1em;
    background-color: var(--links-button);
    padding-bottom: .1em;
}

.car-buttons_container {
    padding-top: .1em;
    padding-bottom: .1em;
    background-color: var(--links-button);
    display: grid;
    grid-template-columns: 50% 50%;
    gap: .1em;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
}

.owner_link {
    cursor: pointer;
}

.owner_link:hover {
    text-decoration:underline;
}

.wanted-img {
    width: 6em;
    height: 2em;
    position: absolute;
    top: 1em;
    transform: rotate(8deg);
    right: .8em;

 //   transform: rotate(353deg);
}

.info-table {
    width: 100%;
    height: auto;
    background: var(--links-button);
    border: 1px solid var(--side-buttons-color);
    margin-bottom: 0.2em;
}

.info-item {
    border: 1px solid var(--side-buttons-color);
    align-items: center;
    min-height: 2em;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    display: grid;
    grid-template-columns: 30% 70%;
}

.info-item > div {
    padding-left: 1em;
}

.info-label {
    border-right: 1px solid var(--side-buttons-color);
}

.avalaible {
    color: var(--normal-button-color);
}

.notavalaible {
    color: var(--panic-button-color);
}