<layout-container>
    <ui-container class="ncinc_container">
        <status></status>
        <ui-container class="inputs">
            <ui-container>
                <ui-title>Cevil</ui-title>
                <ui-container class="inputs_container">
                    <ui-input
                        (keydown)="this.onNameValue($event)"
                        [form]="this.form" 
                        formValue="nameValue"
                        placeholder="Search name or ID card"
                        [validation]="true"
                    />
                    <ui-list 
                        [list]="this.cevilTypeOfData()" 
                        [renderField]="this.nameTypeOfDataRenderField"
                        [handleRender]="this.resetForm"
                    />
                </ui-container>
            </ui-container>
            <ui-container>
                <ui-title>Auto</ui-title>
                <ui-container class="inputs_container">
                    <ui-input
                        (keydown)="this.onAutoValue($event)"
                        [form]="this.form" 
                        formValue="autoValue"
                        placeholder="Search plate"
                        [validation]="true"
                    />
                    <ui-list 
                        [list]="this.carTypeOfData()" 
                        [renderField]="this.autoTypeOfDataRenderField"
                        [handleRender]="this.resetForm"
                    />
                </ui-container>
            </ui-container>
            <ui-container>
                <ui-title>Weapon</ui-title>
                <ui-container class="inputs_container">
                    <ui-input
                        (keydown)="this.onWeaponValue($event)"
                        [form]="this.form" 
                        formValue="weaponValue"
                        placeholder="Search serial"
                        [validation]="true"
                    />
                    <ui-list 
                        [list]="this.weaponTypeOfData()" 
                        [renderField]="this.weaponTypeOfDataRenderField"
                        [handleRender]="this.resetForm"
                    />
                </ui-container> 
            </ui-container>
        </ui-container>
    </ui-container>
    <ui-container>
        <ui-container>
            <ui-title class="right-side">NCINC</ui-title>
        </ui-container>
        <ui-container>
            <div class="ncinc_data" [ngClass]="{ 'halb': NcincDataArray().length == 1}">
                <div class="ncinc_data-item" *ngFor="let NCINCDataItem of NcincDataArray()">
                    @if (typeGuard(NCINCDataItem, "cevil")) {
                        <cevil 
                            class="cevil"
                            [data]="NCINCDataItem" 
                            [cevilColumns]="cevilColumns"
                            [carColumnns]="carsColumns"
                            [weaponColumns]="weaponColumns" 
                            [showCar]="showCar"
                            [showWeapon]="showWeapon"
                            [contextMenuItems]="contextMenuItems"
                            [idx]="NcincDataArray().indexOf(NCINCDataItem)"
                        />
                    }
                    
                    @if (typeGuard(NCINCDataItem, "car")) {
                        <car 
                            class="car"
                            [data]="NCINCDataItem" 
                            [columns]="cevilColumns"
                            [showOwner]="showOwner"
                            [idx]="NcincDataArray().indexOf(NCINCDataItem)"
                            [contextMenuItems]="contextMenuItems"
                        /> 
                    }
    
                    @if (typeGuard(NCINCDataItem, "weapon")) {
                        <weapon 
                            class="weapon"
                            [data]="NCINCDataItem" 
                            [columns]="cevilColumns"  
                            [showOwner]="showOwner"  
                            [idx]="NcincDataArray().indexOf(NCINCDataItem)"
                            [contextMenuItems]="contextMenuItems"
                        />
                    }
                </div>
            </div>
        </ui-container>
    </ui-container>  
</layout-container> 
