<ui-context-menu-container
    [class]="class"
    [contextMenuItems]="contextMenuItems"
    [idx]="idx"
>
    <div
        [class]="class"
    >
        <ncinc-wanted [isWanted]="data.wanted" />
        <ui-info-table>
            <info-table-item label="Owner" [data]='data.civil.name' [owner]="true" (click)="this.showOwner(data.civil.id, data.civil.name)" />
            <info-table-item label="Brand" [data]="data.brand" />
            <info-table-item label="Serial" [data]="data.serial" />
        </ui-info-table>
        <buttons 
            [isWanted]="data.wanted"
            [onWanted]="onWanted"
        />
        <ui-items-list
            placeholder="HISTORY"
        >
            <ui-table 
                [paginationAndSearch]="false"
                [columns]="columns"
                [values]="data.history"
                [clickTriggerOnContainer]="onCevilHistoryItem"
            />
        </ui-items-list>  
    </div>
</ui-context-menu-container>