.profile {
    width: 30em;
    height: auto;
    background: var(--panel-background-color);
    display: grid;
}

.profile_info {
    display: grid;
    grid-template-columns: 40% 58%;
    gap: .5em;
}

.profile_rank {
    border: 3px solid #040404;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_info-data {
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    gap: .8em;
}

.calls-list {
    width: 100%;
    height: auto;
}

.calls-list_data {
    background: var(--side-buttons-color);
    width: 100%;
    min-height: 10em;
    height: auto;
}