<div class="profile" *ngIf="this.officer()" (mouseleave)="this.mouseleave()">
    <div class="profile_info">
        <div class="profile_rank">
            <ui-rank [rankLabel]="this.officer()?.rank?.name || ''" [src]="this.officer()?.rank?.icon || ''" type="big"></ui-rank>
        </div>
        <div class="profile_info-data">
            <ui-button class="profile_info-item" [type]="['no-size']">{{ this.officer()?.name }}</ui-button>
            <span class="profile_info-item">{{ this.officer()?.badgeNumber }}</span>
            <span class="profile_info-item">{{ this.officer()?.rank?.name }}</span>
            <span class="profile_info-item">Shift number: {{ this.officer()?.shift?.id }}</span>
            <span class="profile_info-item">{{ this.PresentationService.getRoleNameFromServerView(this.officer()?.role?.name || "") }}</span>
            <ui-items-list 
                placeholder="Calls"
            />
        </div>
    </div>
</div>
