<layout-container>
    <div>
       <status></status>
        <ui-title>Marking</ui-title>
        <ui-container class="marking">
            <ui-input  
                #inputRef
                [change]="this.onMarkingValue"
                [form]="this.form" 
                formValue="markingValue"
                [mask]="true"
                [maskData]="this.maskData()"
                [placeholder]="this.maskData()"
                [maxLength]="this.getMaxInputCharactersByMarking().toString()"
            />
            <ui-list 
                [list]="this.ContextService.getMarkingsList()" 
                [renderField]="this.marking"
                [handleRender]="handleMarkingChange"
            />
        </ui-container>
        <ui-title>Notebook</ui-title>
        <ui-container class="notebook">
            <ui-textarea
                [change]="this.onNoteBookValue"
                [form]="this.form" 
                formValue="notebookValue"
                maxLength="400"
            >
            </ui-textarea>
        </ui-container>
    </div>
    <div>
        <ui-container>
            <ui-title class="right-side">Officers</ui-title>
        </ui-container>
        <ui-container>
            <ui-table 
                [values]="this.officers()" 
                [columns]="this.officersColumns"  
                [clickTriggerOnContainer]="this.setCurrentOfficer"
                [group]="true"
                [sortBy]="[
                    { label: 'Default' },
                    { label: 'Status' },
                ]"
            />
        </ui-container>
    </div>
</layout-container>