<ui-title>Status</ui-title>
<ui-container class="status">
    <ui-button 
        (click)="this.handleStatus(true)" 
        [type]="[this.officer()?.status == true ? 'light' : '', 'no-size', 'left-side']"
    >
        Avalaible
    </ui-button>
    <ui-button 
        (click)="this.handleStatus(null)" 
        [type]="['no-size', this.officer()?.status == null ? 'neutral' : '', 'left-side']"
    >
        N/A
    </ui-button>
    <ui-button 
        (click)="this.handleStatus(false)"
        [type]="['left-side', this.officer()?.status == false ? 'busy' : '', 'no-size']"
    >
        Busy
    </ui-button>
    <ui-button 
        [type]="['left-side', this.officer()?.status == 'OS' ? 'OS' : '', 'no-size']"
        (click)="this.handleStatus('OS')"
    >
        OS
    </ui-button>
</ui-container>
