.columns {
  display: none;
}

.table-container {
    width: 95%;
}

.table-container {
    padding-left: .6em;
}

.table {
    background: 0;
    color: var(--text-light-color);
    margin-bottom: var(--padding);
}

.search-container {
    display: grid;
    grid-template-columns: 20% 20%;
    align-items: center;
    padding-left: .8em;
    z-index: 99999;
    margin-bottom: 1em;
}

.table-item:hover {
    background: red;
}

.table-td {
    color: var(--text-light-color);
}

::ng-deep .mat-mdc-paginator .mat-mdc-select {
    color: #ffff !important;
}

::ng-deep .mat-mdc-paginator .mat-mdc-select:focus {
    border: 0;
}