.table-items_container {
    height: 3.3em;
    gap: 3em;
    display: flex;
    width: 100%;
    cursor: pointer;
    align-items: center;
    padding-left: var(--padding-side);
    padding-right: var(--padding-side);
}

.table-items_container:hover {
    background: var(--active-table-item-color);
}

.table_item {
    justify-content: center;
    text-align: center;
}

.table_item:nth-child(4) {
    width: 8em;
}

.table_item:nth-child(2) {
    width: 8em;
}

.pagination_buttons {
    width: 100%;
    //display: grid;
    display: flex;
    justify-content: center;
    //grid-template-columns: repeat(auto-fill, minmax(15%, 1fr));
    height: 3em;
    margin-top: 1em;
    gap: .5em;
}