.table-items_container {
    height: 3.3em;
    gap: 3em;
    display: flex;
    width: 100%;
    cursor: pointer;
    align-items: center;
    padding-left: var(--padding-side);
    padding-right: var(--padding-side);
}

.table-items_container:hover {
    background: var(--active-table-item-color);
}

.table_item {
    justify-content: center;
    text-align: center;
}

.table_item:nth-child(4) {
    width: 5em;
}