<div class="table-container">
    <div class="search-container">
        <ui-input  
            #inputRef
            [change]="applyFilter"
            [form]="this.form" 
            formValue="searchValue"
            placeholder="Search"
        />
        <ui-list 
            [list]="sortBy || []" 
            [renderField]="this.sortRenderField"
            [handleRender]="sortChange"
        />
    </div>
      
    <div class="table-container">
        <table mat-table [dataSource]="dataSource" matSort class="table">
            @for (column of this.columns(); track $index) {
                <div [matColumnDef]="column">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="columns">{{ column }}</th>
                    <td mat-cell *matCellDef="let element" class="table-td" (click)="clickTrigger(element.id)">
                        @if (column == "rank") {
                            <ui-rank [src]="element.rank.icon" [rankLabel]="element.rank.name"></ui-rank>
                        } @else {
                            {{ this.PresentationService.getValueByType(element, column) }}
                        }
                    </td>
                </div>
            } 
            <tr mat-header-row *matHeaderRowDef="this.columns()"></tr>
            <tr mat-row *matRowDef="let row; columns: this.columns();"></tr>
        </table>
        <div class="pagination-container">
            <mat-paginator class="paginator-container" [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>