input {
    width: 100%;
    height: var(--forms-height);
    color: var(--text-light-color);
    background: var(--links-button);
    padding: var(--padding);
    caret-color: transparent;
} 

input::placeholder {
    color: var(--text-light-color);
    opacity: 1;
}

.disabledUserSelect {
    user-select: none;
}

input::-webkit-input-placeholder { color: var(--text-light-color); }
input::-moz-placeholder { color: var(--text-light-color); }
input:-ms-input-placeholder { color: var(--text-light-color); }
input:-moz-placeholder { color: var(--text-light-color); }