img {
    width: 1.6em;
    height: 1.5em;
}

.lieutenant {
    width: .5em;
}

.divisionchief {
    width: 2.3em;
}

.deputychief {
    width: 3.5em;
    height: 1.3em;
}

.chiefofpolice {
    width: 4.5em;
    height: 1.3em;
}

div {
    min-width: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 2em;
    position: relative;
}
