.items-list {
    width: 100%;
    height: auto;
    position: relative;
}

.items-list_data {
    background: var(--side-buttons-color);
    width: 100%;
    max-height: 200px;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 9999999999;
    padding-bottom: 0;
}

.paddings {
    padding-top: var(--padding);
    //padding-bottom: 0.1em;
    padding-left: 0;
}