body {
    font-family: "Roboto", serif;
    height: 100vh;
    margin: 0;
    width: 100%;
    background: var(--main-background);
    padding: 2em;
    user-select: none;

    --main-background: #212121;
    --navigation-background-color: #343434;
    --panel-background-color: #2d2d2d;
    --active-table-item-color: #359ff0;
    --normal-button-color: #31b53f;
    --text-color: #999999;
    --button-color: #414141;
    --title-color: #434343;
    --text-light-color: #fafafa;
    --panic-button-color: #F24949;
    --side-buttons-color: #424343;
    --links-button: #222222;
    --running-line: #434343;
    --padding: 1em;
    --padding-side: 1.5em;
    --neutral-button: #ac7a33;

    color: var(--text-light-color);
}

* {
    box-sizing: border-box;
}

button {
    border: 0;
}

div {
    display: block;
}

h1, h2, h3 {
    line-height: 1em;
    margin: 0;
}

input { 
    border: 0;
}

input:focus {
    outline: none;
}

p { 
    margin: 0;
    line-height: 1em;
    padding: 0;
}

textarea {
    user-select: none;
    border: 0;
}

textarea:focus {
    outline: none;
}

button {
    border: 0;
}