body {
    font-family: "Roboto", serif;
    height: 100vh;
    width: 100%;
    background: var(--main-background);
    padding: 2em;
    user-select: none;

    --main-background: #212121;
    --navigation-background-color: #343434;
    --panel-background-color: #2d2d2d;
    --active-table-item-color: #359ff0;
    --normal-button-color: #31b53f;
    --text-color: #999999;
    --button-color: #414141;
    --title-color: #434343;
    --text-light-color: #fafafa;
    --panic-button-color: #F24949;
    --side-buttons-color: #424343;
    --links-button: #222222;
    --running-line: #434343;
    --padding: 1em;
    --padding-side: 1.5em;
    --neutral-button: #ac7a33;
    --forms-height: 2.5em;

    color: var(--text-light-color);
}

@font-face {
    font-family: 'PlateFont';
    src: url('/assets/fonts/platefont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

button {
    border: 0;
}

div {
    display: block;
}

h1, h2, h3 {
    line-height: 1em;
    margin: 0;
}

input { 
    border: 0;
}

input:focus {
    outline: none;
}

p { 
    margin: 0;
    line-height: 1em;
    padding: 0;
}

textarea {
    user-select: none;
    border: 0;
}

textarea:focus {
    outline: none;
}

button {
    border: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


h4 {
    line-height: 1em;
    padding: 0;
    margin: 0;
    font-size: 1em;
}
.mat-mdc-row:hover {
    background: var(--active-table-item-color);
    cursor: pointer;
}

.mat-mdc-select {
    color: var(--text-light-color);
}

.mat-mdc-text-field-wrapper {
    border: .5px solid var(--text-light-color) !important;
}

.mat-mdc-text-field-wrapper:hover {
    border: 1px solid var(--text-light-color) !important;
}

.mat-mdc-paginator-page-size-label {
    color: var(--text-light-color) !important;
}

.mat-mdc-paginator-range-label {
    color: var(--text-light-color) !important;
}

.mat-mdc-paginator {
    background: 0 !important;
}

.mat-mdc-header-row {
    height: 0 !important;
}

.mat-mdc-paginator-container  {
    display: flex;
    justify-content: center !important;
    background: 0;
}

.mat-mdc-paginator-page-size-select {
    color: var(--text-light-color) !important;
}

.mat-mdc-paginator-touch-target {
    color: var(--text-light-color) !important;
}