button {
    height: 2.5em;
    align-items: center;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--text-light-color);
    width: 6em;
    text-transform: uppercase;
    background: var(--links-button);
}

.no-size {
    width: 100%;
}

.left-side {
    background: var(--side-buttons-color);
}

.busy {
    background: var(--panic-button-color);
}

.light {
    background: var(--normal-button-color);
}

.alarm {
    animation: alarmAnimation .5s linear infinite;
}

.neutral {
    background: var(--neutral-button);
}

.standart {
    width: 8em;
    height: 2.4em;
}

.OS {
    background: #17a2b8  ;
}

@keyframes alarmAnimation {
    from {
        background: var(--normal-button-color);
    }

    to {
        background: var(--panic-button-color);
    }
}

.circle {
    width: 2em;
    border-radius: 2em;
}

.pag-activated {
    background: var(--active-table-item-color);
}

.mini {
    width: 10em;
}

.validation-btn {
  //  position: absolute;
    top: 0;
    padding: .5em;
    height: auto;
    right: 0;
    z-index: 9999;
}